<div class="about-section" style="text-align: center;">
  <h1>About</h1>
  <p>The purpose of our gratitude tracker project stems from a hippie and her even more hip dog wanting to make the most of life and not forget
    the little things in life that we are grateful for. It's easy to keep wanting more in life but like Aesop says, gratitude turns what we have into enough.
  This replaces a physical gratitude journal and we want to be able to track 3 daily gratitudes to remind us of what truly matters most in life.</p>
</div>
<hr>

<h2 style="text-align:center">Creators</h2>
<div class="row" >
  <div class="column justify-content-center">
    <div class="card">
      <img src="assets/fishingpic.JPG" alt="Jan" style="width:100%, 350px;height:250px">
      <div class="container">
        <h2>Jan Ellsworth</h2>
        <p class="title">Hippie Developer</p>
        <p> Beach-loving yogi, reiki practitioner & energy worker. Professional fly rod builder. Loves fly-fishing, cooking, baking, traveling, diving, anything water related. Enjoys front-end more than back-end as a right-brain lefty.</p>
        <p>jan.ellsworth2@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
<br>

  <div class="column">
    <div class="card" >
      <img src="assets/pablo.jpg" alt="Pablo" style="width:100%, 350px;height:250px" >
      <div class="container">
        <h2>Pablo</h2>
        <p class="title">Fluffy Puppy</p>
        <p>Favorite food is filet mignon, liver & freeze-dried lamb lungs. Is a good boy. So love. Much toilet hugs. Barking maniac. Loves chasing rabbits.
          Mom's emotional support fluff. Might bless you with my presence one day.</p>
        <p>pablodood@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

